name: Build Zed Binaries

on:
  workflow_call:
    inputs:
      repository:
        required: true
        type: string
      ref:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      repository:
        description: 'Repository to build from'
        required: true
        type: string
      ref:
        description: 'Ref to build from'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [cli, editor-opengl]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository || github.event.inputs.repository }}
          ref: ${{ inputs.ref || github.event.inputs.ref }}

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: |
          if [ "${{ matrix.target }}" == "cli" ]; then
            cargo build --release --bin zed
          else
            cargo build --release --bin zed --features eval-support
          fi
        env:
          RUSTFLAGS: --cfg gles --remap-path-prefix $PWD=/

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: zed-${{ matrix.target }}-linux
          path: target/release/zed
